[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-login = "*"
flask-security = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
flask = "*"
mako = "*"
email-validator = "*"
pillow = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
